name: Inspections

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.2', '7.3', '7.4']
    name: PHP ${{ matrix.php-versions }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: xdebug
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: Unit tests
        run: ./vendor/bin/phpunit
      - name: Code style
        run: ./vendor/bin/phpcs
